In [9]:
#Assignment 02 _03List
#Question01
#First of all we need to order the list
my_list=[34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]
my_list.sort()
print(my_list)
print("The Sum of Two Lowest Number Is",my_list[0]+my_list[1])
print("The Sum of Two Highest Number Is",my_list[len(my_list)-1]+my_list[len(my_list)-2])

[2, 12, 34, 37, 45, 54, 56, 66, 67, 76, 98]
The Sum of Two Lowest Number Is 14
The Sum of Two Lowest Number Is 174

In [39]:
#Question02
names = ["David", "Michael", "John", "James", "Greg", "Mark", "William", "Richard", "Thomas", "Steven",   "Mary", "Susan", "Maria", "Karen", "Lisa", "Linda", "Donna", "Patricia", "Debra", "Eric"]
scores = [99, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]
##Listing All
#i=0
#for j in names:
#    print(i+1," Name:",names[i],"Score:",scores[i])
#    i=i+1
name_input=input()
i=0
for j in names:
    if names[i]==name_input:
        print(i+1," Name:",names[i],"Score:",scores[i])
    i=i+1

 John

3  Name: John Score: 78

In [89]:
#Question03
i=0
max_score=scores[i]
for j in names:
    if scores[i]>max_score:
        max_score=scores[i]
    i=i+1
print("The Highest Score is:",max_score)
print("Student(s) with the Highest Score is (are):")
i=0
student_count=0
for j in names:
    if scores[i]==max_score:
        print(names[i])
        student_count+=1
    i=i+1
print("Total Number of The Students got {} is {}".format(max_score,student_count))

The Highest Score is: 99
Student(s) with the Highest Score is (are):
David
Total Number of The Students got 99 is 1

In [87]:
#Question04
month_list=[["Jan",31],["Feb",28],["March",31],["April",30],["May",31],["June",30],["July",31],["Aug",31],["Sep",30],["Oct",31],["Nov",30],["Dec",31]]
print(month_list)

[['Jan', 31], ['Feb', 28], ['March', 31], ['April', 30], ['May', 31], ['June', 30], ['July', 31], ['Aug', 31], ['Sep', 30], ['Oct', 31], ['Nov', 30], ['Dec', 31]]

In [44]:
#Question05
season_list=[["Winter","Jan",31],["Winter","Feb",28],["Spring","March",31],["Spring","April",30],["Spring","May",31],["Summer","June",30],["Summer","July",31],["Summer","Aug",31],["Autumn","Sep",30],["Autumn","Oct",31],["Autumn","Nov",30],["Winter","Dec",31]]
print(season_list)

[['Winter', 'Jan', 31], ['Winter', 'Feb', 28], ['Spring', 'March', 31], ['Spring', 'April', 30], ['Spring', 'May', 31], ['Summer', 'June', 30], ['Summer', 'July', 31], ['Summer', 'Aug', 31], ['Autumn', 'Sep', 30], ['Autumn', 'Oct', 31], ['Autumn', 'Nov', 30], ['Winter', 'Dec', 31]]

In [84]:
#Question06
i=0
sum_of_season_days=0
print(season_list[0][0])
for j in season_list:
    if season_list[i][0]=="Summer":
        sum_of_season_days=sum_of_season_days+season_list[i][2]
    i=i+1
print("Sum of all days in Summer is:",sum_of_season_days)

Winter
Sum of all days in Summer is: 92